*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    line-height: 1.6;
    color: #111;
    background-color: #fff;
}
:root {
    --color-bg-main: #ebe6db;
    --color-bg-soft: #bdab9c;
    --color-primary: #697962;
    --color-accent: #ae6f7d;
    --color-text: #454545;

    --radius-sm: 8px;
    --radius-md: 16px;
    --radius-lg: 32px;

    --shadow-soft: 0 10px 30px rgba(0,0,0,0.05);
    --font-title: "Playfair Display", serif;
    --font-body: "Inter", system-ui, sans-serif;


    --text-xs: 0.875rem;
    --text-sm: 1rem;
    --text-md: 1.125rem;
    --text-lg: 1.5rem;
    --text-xl: 2.25rem;
    --text-2xl: 3rem;

}
body {
    font-family: var(--font-body);
    font-size: var(--text-sm);
    color: var(--color-text);
    background-color: var(--color-bg-main);
}

h1,
h2,
h3 {
    font-family: var(--font-title);
    font-weight: 500;
}
h1 {
    font-size: var(--text-2xl);
    margin-bottom: 1.5rem;
}

h2 {
    font-size: var(--text-xl);
    margin-bottom: 1rem;
}

p {
    font-size: var(--text-md);
    max-width: 60ch;
}
.cta {
    background-color: var(--color-primary);
    color: white;
    padding: 3rem;
    border-radius: var(--radius-lg);
}