
<header class="site-header">
    <div class="header-inner">
        <span class="site-brand">Tefita Psicología</span>

        <a href="#contacto" class="header-cta">
            Agendar sesión
        </a>
    </div>
</header>