---
const { variant = "main" } = Astro.props;
---

<section class={`section section--${variant}`}>
    <slot />
</section>

<style>
    .section {
        padding: 6rem 0;
    }

    /* Fondos que PRIMAN */
    .section--main {
        background-color: var(--color-bg-main); /* NUDE */
    }

    .section--soft {
        background-color: var(--color-bg-soft); /* ROSA SUAVE */
    }

    .section--light {
        background-color: #ffffff;
    }
</style>