---
const { variant = "default" } = Astro.props;
---

<section class={`section section--${variant}`}>
    <slot />
</section>

<style>
    .section {
        padding: 6rem 0;
    }

    .section--soft {
        background-color: var(--color-bg-soft);
    }
</style>